<ActionBar>
  <FlexboxLayout justifyContent="space-between">
    <StackLayout>
      <Button class="mdi" text="{{'mdi-menu' | fonticon }}" (tap)="onTapSidebar()">
      </Button>
    </StackLayout>
    <FlexboxLayout>
      <Button class="mdi" text="{{'mdi-search' | fonticon }}">
      </Button>
      <Button class="mdi" text="{{'mdi-headset' | fonticon }}">
      </Button>
      <Button class="mdi" text="{{'mdi-more-vert' | fonticon }}">
      </Button>
    </FlexboxLayout>
  </FlexboxLayout>
</ActionBar>
