<StackLayout orientation="horizontal" class="sidedrawer-header" verticalAlignment="middle">
    <!-- Set src attribute to the logo of the app -->
    <Label
        class="sidedrawer-header-brand"
        text="Beatstars">
    </Label>
</StackLayout>
<ScrollView class="sidebar-content">
    <StackLayout class="sidedrawer-content">
        <Label text="MARKETPLACE" class="sidebar-caption">
        </Label>
        <Label text="BROWSE MUSIC" class="sidebar-menu-item sidebar-sm-caption">
        </Label>
        <FlexboxLayout>
            <Label class="mdi sidebar-menu-item sidebar-icon" text="{{'mdi-favorite' | fonticon }}">
            </Label>
            <Label class="sidebar-menu-item  sidebar-icon-item" text="Home">
            </Label>               
        </FlexboxLayout>
        <FlexboxLayout>
            <Label class="mdi sidebar-menu-item sidebar-icon" text="{{'mdi-favorite' | fonticon }}">
            </Label>
            <Label class="sidebar-menu-item  sidebar-icon-item" text="Home">
            </Label>               
        </FlexboxLayout>
                <FlexboxLayout>
            <Label class="mdi sidebar-menu-item sidebar-icon" text="{{'mdi-favorite' | fonticon }}">
            </Label>
            <Label class="sidebar-menu-item  sidebar-icon-item" text="Home">
            </Label>               
        </FlexboxLayout>
        <FlexboxLayout>
            <Label class="mdi sidebar-menu-item sidebar-icon" text="{{'mdi-favorite' | fonticon }}">
            </Label>
            <Label class="sidebar-menu-item  sidebar-icon-item" text="Home">
            </Label>               
        </FlexboxLayout>
                <FlexboxLayout>
            <Label class="mdi sidebar-menu-item sidebar-icon" text="{{'mdi-favorite' | fonticon }}">
            </Label>
            <Label class="sidebar-menu-item  sidebar-icon-item" text="Home">
            </Label>               
        </FlexboxLayout>
        <FlexboxLayout>
            <Label class="mdi sidebar-menu-item sidebar-icon" text="{{'mdi-favorite' | fonticon }}">
            </Label>
            <Label class="sidebar-menu-item  sidebar-icon-item" text="Home">
            </Label>               
        </FlexboxLayout>
    </StackLayout>
</ScrollView>


