<StackLayout orientation="horizontal" class="sidedrawer-header" verticalAlignment="middle">
    <!-- Set src attribute to the logo of the app -->
    <Image src="~/logo.png">
    </Image>
    <Label
        class="sidedrawer-header-brand"
        text="Beatstars">
    </Label>
</StackLayout>
<ScrollView class="sidebar-content">
    <StackLayout class="sidedrawer-content">
        <Label text="MARKETPLACE" class="sidebar-caption">
        </Label>
        <StackLayout *ngFor="let singleSection of menu_items;">    
            <StackLayout [class]="singleSection.border? 'hr-light divider':'divider' "></StackLayout>
            <Label [text]="singleSection.caption" class="sidebar-menu-item sidebar-sm-caption">
            </Label>
            <FlexboxLayout *ngFor="let item of singleSection.items;">
                <Label class="mdi sidebar-menu-item sidebar-icon" text="{{item.icon | fonticon }}">
                </Label>
                <Label class="sidebar-menu-item  sidebar-icon-item" [text]="item.title">
                </Label>               
            </FlexboxLayout>
        </StackLayout>  
        <Button
            class="btn-add-playlist"
            text="ADD NEW PLAYLIST">
        </Button>
    </StackLayout>
</ScrollView>


