<FlexLayout class="sidedrawer-header">
    <!-- Set src attribute to the logo of the app -->
    <Image
        class="sidedrawer-header-image">
    </Image>
    <Label
        class="sidedrawer-header-brand"
        text="Beatstars">
    </Label>
</FlexLayout>
<ScrollView>
    <StackLayout class="sidedrawer-content">
        <GridLayout>
            <Label class="mdi" text="{{'mdi-favorite' | fonticon }}">
            </Label>
            <Label text="Home" class="sidedrawer-list-item-text">
            </Label>               
        </GridLayout>
    </StackLayout>
</ScrollView>


